/************************************************************************
    Start of ymap
************************************************************************/

.bpp .ymap-viewport img {
    max-width: none;
}

.bpp .yui3-controlsmallsimplezoom {
	width:              23px;
}

/************************************************************************
    End of ymap
************************************************************************/

/* YUI CSS Detection Stamp */
#yui3-css-stamp.bpp-map-css { display: none; }