/************************************************************************
    Start of BPP Rating And Review
************************************************************************/

.bpp-rating-reviews li{
    margin: 0 0 1.5em 0;
}

.bpp-rating-reviews p{
    margin: 0.2em 0 0;    
}

.bpp-rating-reviews .bpp-review-name{
	font-weight: bold;
    display: inline-block;
    margin: 0 0.5em;
}

/************************x************************************************
    Start of BPP Yahoo! Reviews
************************************************************************/

.bpp-yahoo-reviews .bpp-reviews-actions{
	position: relative;
    border-bottom: 1px solid #C9C9C9;
    border-top: 1px solid #C9C9C9;
    padding: 0.4em 0;
    margin: 0 0 0.769em 0;
}

.bpp-yahoo-reviews .bpp-reviews-actions button{
    margin: 0 1em;
    color: #5F5F5F;
    font-weight: 0.9em;
}

.bpp-yahoo-reviews .bpp-reviews-actions button.active{
    font-weight:        bold;
}

.bpp-yahoo-reviews .bpp-reviews-count {
	position: absolute;
	right: 5px;
    top: 5px;
}

.bpp-yahoo-reviews .bbp-module-footer{
    text-align: center;
    background-color: #E2E2F7;
    padding: 0.5em 0;
    border-bottom: 1px solid #C9C9C9;
    border-top: 1px solid #C9C9C9;
}

/************************x************************************************
    End of BPP Yahoo! Reviews
************************************************************************/

/************************x************************************************
    End of BPP Rating And Review
************************************************************************/

/* YUI CSS Detection Stamp */
#yui3-css-stamp.srpl-reviews-css { display: none; }