/************************************************************************
    BPP Global Properties
************************************************************************/

body {
    font: 13px/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #5F5F5F;
    background-color: #FFFFFF;
    margin: 0;
}

a {
    text-decoration:    none;
    color: #1D1DA3;
}

a:hover,
a:focus{
    text-decoration:    underline;
    outline: none;
}

select,
input,
button,
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/************************************************************************
    Start of BPP Custom Buttons
************************************************************************/

.bpp button.noborder,
.bpp input[type=button].noborder{
    border: none;
    background: none;
    text-decoration: none;
    color: #1D1DA3;
    cursor: pointer;
    padding: 0;
}

.bpp input[type=button].noborder:hover,
.bpp button.noborder:hover{
    text-decoration: underline;
}

.bpp button.noborder:active,
.bpp button.noborder:focus,
.bpp input[type=button].noborder:active,
.bpp input[type=button].noborder:focus{
    text-decoration: underline;
}

/************************************************************************
    End of BPP Custom Buttons
************************************************************************/

.bpp p {
    margin: 0;
}

.bpp .bpp-close {
    cursor: pointer;
}

.bpp .f-left {
    float: left;
    display: inline;
}

.bpp .f-right{
    float: right;
    display: inline;
}

.bpp .bpp-hide {
    display: none;
}

.bbp-wrapper {
    width: 900px;
    margin: 0 auto;
}

.bpp-content .bpp-module {
    margin: 1em 0 2em;
    padding: 0 1em;
}

.bpp-content .bpp-module-head-container {
    padding: 0 0 0.6em;
}

.bpp-content .bpp-module-head-container .bpp-module-head {
    padding: 0;
}

.bpp-content .bpp-module-head {
    line-height: 1.8em;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0 0 0.6em;
}

.bpp-content .bpp-module-footer {
    margin: 0.8em 0 0 0;
}

/************************************************************************
    End of BPP General
************************************************************************/

/************************************************************************
    Start of BPP Header
************************************************************************/

.header {
    margin: 0 0;
}

.header .pure-menu {
    padding: 1em;
}

.header .pure-menu-heading {
    font-size: 2em;
    padding: 0;
}

/************************************************************************
    End of BPP Header
************************************************************************/

/************************************************************************
   Start of BPP Overlay
************************************************************************/

.bpp-overlay {
    position: relative;
    font-size: 0.923em;
    color: #231f20;
    padding: 5px;
    background-color: #fff;
    border-color: #d3d3d3;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/************************************************************************
    End of BPP Overlay
************************************************************************/

/************************************************************************
    Start of BPP Loader
************************************************************************/

.bpp-loading {
    border:                 1px solid #CCCCCC;
    left:                   48.2%;
    padding:                2px;
    position:               absolute;
    top:                    54.3%;
    border-radius:          5px;
    z-index:                200;
    background:             #fff url("../img/spinner.gif") no-repeat center center;
    background-color:       #fff:
    background-color:       rgba(255, 255, 255, .95);
    width:                  40px;
    height:                 40px;
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
    -khtml-border-radius:   5px;
}

/************************************************************************
    End of BPP Loader
************************************************************************/

/************************************************************************
    Start of BPP Fader
************************************************************************/

#bpp-fader-container{
    display:            none;
    left:               0;
    margin:             0;
    padding:            0;
    position:           fixed;
    text-align:         left;
    top:                0;
    visibility:         hidden;
    z-index:            99;
}

#bpp-fader-overlay {
    height:             100%;
    position:           relative;
    width:              100%;
    background:         #000;
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 1s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 1s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 2s;
    -o-transition-delay: 1s;

    -ms-transition-property: opacity;
    -ms-transition-duration: 2s;
    -ms-transition-delay: 1s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 1s;
    opacity:            0;
    filter:alpha(opacity=0);
}

#bpp-fader-overlay.anim{
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 1s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 1s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 2s;
    -o-transition-delay: 1s;

    -ms-transition-property: opacity;
    -ms-transition-duration: 2s;
    -ms-transition-delay: 1s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 1s;
    opacity:            .5;
    filter:alpha(opacity=50);
}

/************************************************************************
    End of BPP Fader
************************************************************************/

/************************************************************************
    End of BPP Global Properties
************************************************************************/

/* YUI CSS Detection Stamp */
#yui3-css-stamp.bpp-app-css { display: none; }