/************************************************************************
    BPP Global Properties
************************************************************************/

body {
    font: 13px/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #5F5F5F;
    background-color: #FFFFFF;
    margin: 0;
}

a {
    text-decoration:    none;
    color: #1D1DA3;
}

a:hover,
a:focus{
    text-decoration:    underline;
    outline: none;
}

select,
input,
button,
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/************************************************************************
    Start of BPP Custom Buttons
************************************************************************/

.bpp button.noborder,
.bpp input[type=button].noborder{
    border: none;
    background: none;
    text-decoration: none;
    color: #1D1DA3;
    cursor: pointer;
    padding: 0;
}

.bpp input[type=button].noborder:hover,
.bpp button.noborder:hover{
    text-decoration: underline;
}

.bpp button.noborder:active,
.bpp button.noborder:focus,
.bpp input[type=button].noborder:active,
.bpp input[type=button].noborder:focus{
    text-decoration: underline;
}

/************************************************************************
    End of BPP Custom Buttons
************************************************************************/

.bpp p {
    margin: 0;
}

.bpp .f-left {
    float: left;
    display: inline;
}

.bpp .f-right{
    float: right;
    display: inline;
}

.bpp .bpp-hide {
    display: none;
}

.bbp-wrapper {
    width: 900px;
    margin: 0 auto;
}

.bpp-content .bpp-module {
    margin: 1em 0 2em;
    padding: 0 1em;
}

.bpp-content .bpp-module-head-container {
    padding: 0 0 0.6em;
}

.bpp-content .bpp-module-head-container .bpp-module-head {
    padding: 0;
}

.bpp-content .bpp-module-head {
    line-height: 1.8em;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0 0 0.6em;
}

.bpp-content .bpp-module-footer {
    margin: 0.8em 0 0 0;
}

/************************************************************************
    End of BPP General
************************************************************************/

/************************************************************************
    Start of BPP Header
************************************************************************/

.header {
    margin: 0 0;
}

.header .pure-menu {
    padding: 1em;
}

.header .pure-menu-heading {
    font-size: 2em;
    padding: 0;
}

/************************************************************************
    End of BPP Header
************************************************************************/

/************************************************************************
    End of BPP Global Properties
************************************************************************/

/* YUI CSS Detection Stamp */
#yui3-css-stamp.bpp-app-css { display: none; }